<div class="page-content nopadding eLearningCustom details-page myfile-details">
    <div class="list-grid-box list-with-tags" id="profile-layout">

        {{ view App.DocumentsDetailTitleView }}

        {{ view App.DocumentsDetailAuthorView }}

        {{ view App.DocumentsDetailTagsView }}

        <div class="widget-main" id="file-details-accordion">
            {{ view App.DocumentsDetailDescriptionView }}

            {{ view App.DocumentsDetailSharesView }}

            {{ view App.DocumentsDetailCommentsView }}
        </div>
    </div>
</div>