<div id="discussion" class="tab-pane">
    <div class="widget-box transparent">
        <div class="widget-header widget-header-flat widget-padding bborder row-header">


          <div class="searchCatalogCustom blog-catalogCustom pull-left">
                <div id="toggle_view" class="clearfix toggle-view-container layout-buttons">
                          <div class="dropdown sorting-dropdown" data-action="sort" id="sortCommunitiesForums">
                                <a href="#" class="sorter-toggle dropdown-toggle" id="change-dir" data-toggle="dropdown" data-icon-before="sort-descending">
                                        <span class="icon-caret-down"></span>
                                    </a>
                                
                                 <ul class="dropdown-menu" role="menu" id='sortingDropdownIdForums'>
                                    <li><a id ="titleFORUM" {{action 'getSortedDataByFiledType'  "title" "FORUM" "#sortCommunitiesForums"}}>Name<i class="icon-sort-ascending icon-sorter pull-right"></i></a></li>
                                    <li><a id="authorNameFORUM" {{action 'getSortedDataByFiledType'  "authorName" "FORUM" "#sortCommunitiesForums"}}>Author<i class=" icon-sort-ascending icon-sorter pull-right"></i></a></li>
                                    <li><a id="categoryFORUM" {{action 'getSortedDataByFiledType'  "category.name" "FORUM" "#sortCommunitiesForums"}}>Category<i class=" icon-sort-ascending icon-sorter pull-right"></i></a></li>
                                    <li><a class="selected" id="updateDateFORUM" {{action 'getSortedDataByFiledType'  "updateDate" "FORUM" '#sortCommunitiesBlogs'}}>Date Updated<i class="icon-sort-ascending icon-sorter sorter-des-small pull-right"></i></a></li>
                                    <li><a id="viewsCountFORUM" {{action 'getSortedDataByFiledType'  "viewsCount" "FORUM" "#sortCommunitiesForums"}}>Views<i class="icon-sort-ascending icon-sorter pull-right"></i></a></li>
                                </ul>
                          </div>
                          
                 </div>
             </div>
            <span class="widget-toolbar">
                <!--div data-parent="#accordion" data-action="collapse" class="accordion-toggle collapsed"><i class="icon-caret-up"></i>
                    </div-->
            </span>
            {{#if userHasAccessToCreatePostInDetailsPage}}
            <a href="#" {{action "createQuestion" _id}}><i data-rel="tooltip" data-original-title="Add A Question" data-placement="left" {{bindAttr class=":icon-plus-thin :add-question-icon :margin-top-5 :pull-right active:show:hidden isMember:show:hidden"}}></i></a>
            {{/if}}
        </div>

            <div id="communityDiscussion" class="panel-collapse collapse in widget-body">
              {{#if allForum}}
                <div class="widget-body details-table">
                    <ul class="table-top-header">
                        <li class="col-sm-2 hidden-xs">
                            <label class="grey bold"> Title </label>
                        </li>
                        <li class="col-sm-2 hidden-xs">
                            <label class="grey bold"> Author  </label>
                        </li>
                        <li class="col-sm-2 hidden-xs">
                            <label class="grey bold"> Category </label>
                        </li>
                        <li class="col-sm-2 hidden-xs">
                            <label class="grey bold"> Updated </label>
                        </li>
                        <li class="col-sm-2 hidden-xs">
                            <label class="grey bold"> Views </label>
                        </li>
                        <li class="col-sm-2 hidden-xs">
                            <label class="grey bold"> Likes</label>
                        </li>
                    </ul>
                    {{#each post in allForum}}
                        <ul class="data-row clearfix">
                            <li class="col-sm-2">
                                {{#link-to "question" post._id }} {{post.title}} {{/link-to}}
                            </li>
                            <li class="col-sm-2">
                                {{profileLink post.authorName post.author}}
                            </li>
                            <li class="col-sm-2">
                                {{post.category.name}}
                            </li>
                            <li class="col-sm-2">
                                {{formatDate post.updateDate "DD MMM YYYY"}}
                            </li>
                            <li class="col-sm-2">
                                {{post.viewsCount}}
                            </li>
                            <li class="col-sm-2">
                                {{post.likesCount}}
                            </li>
                        </ul>
                    {{/each}}
                    {{pagination-community action='gotoForumPage' totalForumResults=totalForumResult forumPageNumber=forumPageNumber }}
                </div>
              {{else}}
                <p class="no-records-found widget-padding">There are no discussion threads in this community.</p>
              {{/if}}
            </div>

    </div>
</div>