<div id="blogs" class="tab-pane">
    <div class="widget-box transparent">
        <div class="widget-header widget-header-flat widget-padding bborder row-header">
            <div class="searchCatalogCustom blog-catalogCustom pull-left">
    	        <div id="toggle_view" class="clearfix toggle-view-container layout-buttons">
                    <div class="dropdown sorting-dropdown" data-action="sort" id="sortCommunitiesBlogs">
                        <a href="#" class="sorter-toggle dropdown-toggle" id="change-dir" data-toggle="dropdown" data-icon-before="sort-descending">
                            <span class="icon-caret-down"></span>
                        </a>                    
                        <ul class="dropdown-menu" role="menu" id='sortingDropdownIdBlogs'>
                            <li><a id="titleBLOG" {{action 'getSortedDataByFiledType' "title" "BLOG" "#sortCommunitiesBlogs"}}>Name<i class="icon-sort-ascending icon-sorter pull-right"></i></a></li>
                            <li><a id="authorNameBLOG" {{action 'getSortedDataByFiledType' "authorName" "BLOG" "#sortCommunitiesBlogs"}}>Author<i class="icon-sort-ascending icon-sorter pull-right"></i></a></li>
                            <li><a id="categoryBLOG" {{action 'getSortedDataByFiledType' "category.name" "BLOG" "#sortCommunitiesBlogs"}}>Category<i class="icon-sort-ascending icon-sorter pull-right"></i></a></li>
                            <li><a  class="selected" id="updateDateBLOG" {{action 'getSortedDataByFiledType'  "updateDate" "BLOG" '#sortCommunitiesBlogs'}}>Date Updated<i class="icon-sort-ascending icon-sorter sorter-des-small pull-right"></i></a></li>
                            <li><a id="viewsCountBLOG" {{action 'getSortedDataByFiledType' "viewsCount" "BLOG" "#sortCommunitiesBlogs"}}>Views<i class="icon-sort-ascending icon-sorter pull-right"></i></a></li>
                        </ul>
                    </div>
                    
    	       </div>
            </div>
            <span class="widget-toolbar">           
                <!--div data-parent="#accordion" data-action="collapse" class="accordion-toggle collapsed"><i class="icon-caret-up"></i>
                    </div-->
            </span>
            {{#if userHasAccessToCreatePostInDetailsPage}}
            <a href="#"><i data-rel="tooltip" data-original-title="Add A Blog" data-placement="left" {{bindAttr class=":icon-plus-thin :add-blog :pull-right :margin-top-5 active:show:hidden isMember:show:hidden"}} {{action "createBlog" _id}}></i></a>
            {{/if}}
        </div>
            <div  id="communityBlogs" class="panel-collapse collapse in widget-body">
              {{#if allBlog}}
                <div class="widget-body details-table">
                    <ul class="table-top-header">
                        <li class="col-sm-2">
                            <label class="grey bold"> Title </label>
                        </li>
                        <li class="col-sm-2 hidden-xs">
                            <label class="grey bold"> Author </label>
                        </li>
                         <li class="col-sm-2 hidden-xs">
                            <label class="grey bold"> Category </label>
                        </li>
                        <li class="col-sm-2 hidden-xs">
                            <label class="grey bold"> Created </label>
                        </li>
                        <li class="col-sm-2 hidden-xs">
                            <label class="grey bold"> Views </label>
                        </li>
                        <li class="col-sm-2 hidden-xs">
                            <label class="grey bold"> Likes </label>
                        </li>
                    </ul>
                    {{#each post in allBlog}}
                        <ul class="data-row clearfix">
                            <li class="col-sm-2">
                                {{#link-to "blog" post._id }} {{post.title}} {{/link-to}}
                            </li>
                            <li class="col-sm-2">
                                {{profileLink post.authorName post.author}}
                            </li>
                             <li class="col-sm-2">
                                {{post.category.name}}
                            </li>
                            <li class="col-sm-2">
                                {{formatDate post.createDate "DD MMM YYYY"}}
                            </li>
                            <li class="col-sm-2">
                                {{post.viewsCount}}
                            </li>
                             <li class="col-sm-2">
                                {{post.likesCount}}
                            </li>
                        </ul>
                    {{/each}}
                    {{pagination-community action='gotoBlogPage' totalBlogResults=totalBlogResult blogPageNumber=blogPageNumber}}
                </div>
              {{else}}
                <p class="no-records-found widget-padding">There are no blogs in this community.</p>
              {{/if}}
            </div>

    </div>
</div>