{{#if errorMessage}}
    <span style="color:red;float:left;padding-left:6px">{{errorMessage}}</span>
{{/if}}
{{#if successMessage}}
    <span style="color:green;float:left;padding-left:6px">{{successMessage}}</span>
{{/if}}
<form {{action    'updateTermsAndConditions' on='submit'}} method="put" enctype="multipart/form-data" id="tncUpdate">
    <div class="col-md-12 no-padding">
            <div class="col-md-8">
    <div class="form-group">

        <div class="col-md-10">
            <div class="block  no-padding">
                {{input type="file" name="tncFile" id="tncFile"}}
            </div>
        </div>
    </div>

    <div class="form-group">
        <br><br>

        <div class="col-md-10">
            <div class="block  no-padding">
                {{view Ember.Checkbox checkedBinding="isMinorUpdate" name="minorUpdateCheckbox" checked="false"}}<span class="lbl"></span> Minor Update
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="align-right">
            <input type="submit" value="Upload Terms and Conditions" name="submit"/>
        </div>
    </div>
</div>
        </div>

</form>