<div {{bindAttr class="isGridView:grid:list"}}>
    <div class="list-header">
        <div class="title col-xs-6 col-sm-8 col-md-9 col-lg-10">
            <div class="select-all">
                {{input type="checkbox" checked=allChecked}}
                <span class="lbl"></span>
            </div>
            <div class="text">Title</div>
        </div>
        <div class="actions col-xs-6 col-sm-4 col-md-3 col-lg-2">
            Actions
        </div>
    </div>
    <div class="list-body">
        {{#each item in model}}
            <div {{bind-attr class=":item this.isNotes:note :clearfix item.isChecked:hightlight"}}>
                <div class="title col-xs-6 col-sm-8 col-md-9 col-lg-10">
                    <div class="select-one">
                        {{input type="checkbox" checked=item.isChecked}}
                        <span class="lbl">
                    </div>
                    <div class="thumb">
                        {{#if item.document.isNote}}
                            <div class="icon-note"></div>
                        {{else}}
                            {{#if item.document.hasImg}}
                                <img {{bind-attr src=item.document.img}} >
                            {{else}}
                                <div class="icon-image"></div>
                            {{/if}}
                        {{/if}}
                    </div>
                    <div class="text">
                        {{#unless this.isNotes}}
                            <div class="text-url">
                                {{{showDomain item.document.url}}}
                            </div>
                        {{/unless}}
                        <div class="text-title">
                            {{#if this.isCollections}}
                                {{#link-to 'collection' item.document.id tagName='a' title=item.document.title}}
                                    {{{ellipsis item.document.title 40}}}
                                {{/link-to}}
                            {{/if}}
                            {{#if this.isNotes}}
                                {{#link-to 'note' item.document.id tagName='a' title=item.document.title}}
                                    {{{ellipsis item.document.title 40}}}
                                {{/link-to}}
                            {{/if}}
                            {{#if this.isShareds}}
                                {{#link-to 'sharedItem' item.document.id tagName='a' title=item.document.title}}
                                    {{{ellipsis item.document.title 40}}}
                                {{/link-to}}
                            {{/if}}
                        </div>
                        <div class="text-description" {{bind-attr title=item.document.digest}}>
                            {{#if item.document.digest}}
                                <!-- {{{ellipsis item.document.digest 60}}} -->
                                {{item.document.digest}}
                            {{else}}
                                no description
                            {{/if}}
                        </div>
                        <div class="icon-clock">
                            {{formatDate item.document.createdAt "DD MMM YYYY, HH:mm:ss"}}
                        </div>
                    </div>
                </div>
                <div class="actions col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <!-- isStared - handled by preprocessStar in controller -->
                    <span {{bind-attr class=":btn item.isStared:starred"}} data-rel="tooltip" data-original-title="Favorite" data-placement="left" data-icon-before="star" {{action "star" item.document.id}}></span>
                    <span class="btn" data-rel="tooltip" data-original-title="Share" data-placement="left" data-icon-before="arrow-share" {{action "openNewkotgShareModal" item.document.id}}></span>
                    <span class="btn" data-rel="tooltip" data-original-title="Delete" data-placement="left" data-icon-before="trash-o" data-toggle='modal' data-target='#kotgDeleteModal' {{action "setDeleteId" item.document.id}}></span>
                </div>
            </div>
        {{/each}}
    </div>
</div>
