<div id="user-activity" class="page-content user-profile-page admin-reports-ui">
  	<div class="widget-body list-with-tags" id="profile-layout">
			<div class="container header-panel">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<h1 class="eclipse-text">Learning Plans</h1>
					</div>
				</div>
			</div>
			<div class="tabbable">
			<div class="tab-content">
				<div id="plp" class="tab-pane in active" >
					<div class="page-content list-grid-page training-catalog my-enrollments no-padding">
						<div {{ bind-attr class=":widget-body :list-with-tags isGridView:grid-view:list-view"}}>
							<div class="filter-wrapper">
								<div class="filters-panel has-sorting">
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
											{{visual-search componentId='peopleFilterBox' facets=allFacets filters=filters searchAction='filter' placeHolderText='Filter by Type, Manager, JobTitle, Organization'}}
										</div>
										<div class="filter-panel-divider"></div>
										<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
											<form {{action searchLearningPlans on="submit"}}>						
												<div class="dateRages">
													<div class="date-range-title date-title">Date Range:</div>
													<div class="range-date"><div class="input-group date" data-provide="datepicker">{{input class="date-picker-input"  placeholder="start date" valueBinding="startDate" }}<i class="btn icon-calendar learning_calendar_btn"></i>
													</div></div>
													<div class="date-until-title date-title">Until:</div>
													<div class="range-date"><div class="input-group date" data-provide="datepicker">{{input class="date-picker-input"  placeholder="end date" valueBinding="endDate" }}<i class=" btn icon-calendar learning_calendar_btn"></i>
													</div></div>
													<div class="date-range-button"><button class="btn btn-primary">Filter</button></div>
												</div>						
											<form>
										</div>
										<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 download-btn-wrap">
											<div class="pull-right">
												{{report-generator serviceFunction=getLearningPlans searchFilters=searchFilters dataKey="learningPlans" countKey="plpCount" reportType="csv" JSONFormatfunction=formatCourseJSON reportFileName="AdminLearningPlanReport"}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div> 
					</div>
							{{#if learningPlans.length}}
							  <div class="widget-body">
								  <div class="widget-body-inner collapse in" id="plp-inner" aria-expanded="true">
									  <div class="widget-main container data-table">
										  <div class="row list-headings">
											  <div class="col-sm-1">
												  <label>Last Name</label>
											  </div>
											  <div class="col-sm-2">
												  <label>First Name</label>
											  </div>
											  <div class="col-sm-2">
												  <label>Email</label>
											  </div>
											  <div class="col-sm-2">
												  <label>Organization</label>
											  </div>
											  <div class="col-sm-2">
												  <label>Learning Plan</label>
											  </div>

											  <div class="col-sm-2">
												  <label>Assigned by</label>
											  </div>

											  <div class="col-sm-1">
												  <label></label>
											  </div>
										  </div>
										  {{#each learningPlan in learningPlans}}
										  <div class="row clearfix learning-plan-row"> 
											  <span class="col-sm-1 col-xs-12">
												{{learningPlan.lastName}}
											  </span>
											  <span class="col-sm-2 col-xs-12">
												{{learningPlan.firstName}}
											  </span>
											  <span class="col-sm-2 col-xs-12">
												{{learningPlan.email}}
											  </span>
											  <span class="col-sm-2 col-xs-12">
												{{learningPlan.organization}}
											  </span>
											  <span class="col-sm-2 col-xs-12">
												<label class="hidden-lg hidden-md hidden-sm"><strong>Name: </strong></label>
												  {{learningPlan.name}}
											  </span>

											  <span class="col-sm-1 col-xs-12">
												<label class="hidden-lg hidden-md hidden-sm"><strong>Assigned by: </strong></label>
												  {{#if learningPlan.assignedBy}}
												  {{learningPlan.assignedBy}}
												{{else}}
												  Self
												{{/if}}  
											  </span>


											  <span class="col-sm-2 col-xs-12">
												<label class="hidden-lg hidden-md hidden-sm"><strong> </strong></label>
												
												<span class="pull-right" style="padding-top:5px;">
												  <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#lp{{unbound learningPlan.assignId}}"></a>
												</span>
											  </span>
										  </div>
											  <div id="lp{{unbound learningPlan.assignId}}" class="row panel-collapse collapse">
												  {{#if learningPlan.learningPlanItems.length}}
													<div class="list-headings">
														  <div class="col-sm-4">
															  <label>Enrollments</label>
														  </div>
														  <div class="col-sm-2">
															  <label>Type</label>
														  </div>
														  <div class="col-sm-3">
															  <label>Details</label>
														  </div>												  
														  <div class="col-sm-2">
															  <label>Completion Status</label>
														  </div>
												    </div>
												  {{else}}
												  <div style="text-align: center"><h6><i>No learning plans</i></h6></div>
												{{/if}}
		
												  {{#each learningPlanItem in learningPlan.learningPlanItems}}
												  <div class="enrollAct-data no-background-lp">
													  <ul>
														  <li class="col-sm-4">
															  {{#if learningPlanItem.courseId}}
																{{#link-to "learningCourse" learningPlanItem.courseId (query-params coursetype=learningPlanItem.courseType)}} 
																  {{learningPlanItem.fullName}}
																{{/link-to}}
															  {{else}}
																{{learningPlanItem.taskDesc}} 
															  {{/if}}
														  </li>
														  <li class="col-sm-2">{{learningPlanItem.courseType}}</li>
														  <li class="col-sm-3">
															{{learningPlanItem.detail}}
														  </li>
														  <li class="col-sm-2">{{learningPlanItem.courseCompleted}}</li>
													  </ul>
												  </div>
												  {{/each}}
											  </div>
										  {{/each}}
									  </div>
									  <!-- /widget-main -->
								  </div>
								<div class="clearfix"> </div>
								 {{pagination-link action='gotoPage' totalResults=totalResults pageNumber=pageNumber}}
							  {{else}}
								<div class="no-value">No learning plans to display</div>
							  {{/if}}
							  <!--/widget-body-inner -->
						  </div>
				</div>
			</div>
  		</div>
  	</div>
</div>