<div class="tab-content no-border no-padding">
    <div id="questions-outlet" class="tab-pane in active">                                              
        <div class="message-container">
            <div class="message-list-container">
                <div class="message-list" id="message-list">
                    {{#each itemController="question"}}
                        <div class="message-item no-border no-padding message-unread">
                            <div class="itemdiv commentdiv profile-activity clearfix">
                                <div class="body" style="margin:5px !important">
                                    {{avatarMini authorName author}}
                                    <div class="pull-right" style="font-weight:normal"><span {{bind-attr class=":label :arrowed isDraft:label-yellow:label-success" }}>{{statusLabel}}</span>&nbsp;<i {{bind-attr class=":bigger-125 :grey isPublic:icon-globe:icon-lock" data-original-title="scope"}} title=""></i></div>
                                    
                                    <a class="user" href="#"><span class="text">{{#link-to "question" this._id}} {{title}} {{/link-to}} </span></a><br/><span class="author_name">{{profileLink authorName author}} <i class="orange icon-time bigger-110"></i> {{formatDate updateDate  "DD MMM YYYY"}} </span>
                                    <div class="text grey"><i class="icon-quote-left"></i> {{{ellipsis content.content 150}}}</div>
                                    <div class="text grey">Tags: {{tags}}</div>
                                    <div class="pull-left status-buttons grey">
                                            <span>
                                                    <i class="icon-thumbs-up icon-1x blue"></i> {{stats.likes}} likes
                                           </span>                
                                           <span>
                                                   <i class="icon-eye-open icon-1x purple"></i> {{views.length}} views
                                           </span>                                                                                                                                                
                                           <span>
                                                   <i class="icon-comments-alt icon-1x red"></i> {{stats.comments}} comments
                                           </span>
                                    </div>
                                    {{#if isMyTabSeleted}}
                                            <div class="pull-right action-buttons"><a class="blue">{{#link-to "question.edit" this }} <i class="icon-pencil bigger-125"></i>{{/link-to }}</a> <a {{action "delete" this "questions.my"}} class="red"> <i class="icon-remove bigger-125"></i> </a> </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <!-- /.tab-pane --> 
        </div>
        <!-- /.message-list-container --> 
    </div>
    <!-- /.tab-pane --> 
</div>