<div class="sub-panel-content-inner sub-panel-available">
	<h5>Mentors <!-- <span id="noMentors">({{mentorCount}})</span> --></h5>
	<div class="sub-panel-list-wrap">
		{{#if mentors}}
			<ul id="documentList"  class="sub-panel-list sub-person-list">
				{{#each mentor in mentors}}
					<li class="person-wrap">
						<img {{ bind-attr src="mentor.avatarImageSrc" }} class="person-photo" /> 
				 		<span class="person-online-availability">
				 			<i {{ bind-attr class=":availability-badge mentorAvailabilityStatus" }}></i>
				 			<i class="icon-caret-down"></i>
				 		</span>
				 		<span class="person-info">
				 			<p class="person-name">{{mentor.name}}</p>
				 			<a href="#" class="person-email">{{mentor.email}}</a>
				 		</span>
					</li>
				{{/each}}
			</ul>
		{{else}}
			<ul class="missing-data-message">
				<li><em>No Mentors to Display</em></li>
			</ul>
		{{/if}}
	</div>
</div>