<div class="sub-panel-content-inner sub-panel-available">
	<h5><a href="javascript:void(0)">Wikis <span class="panel-wiki-counter-assets">({{assetsWikisCount}})</span></a></h5>

	<div class="sub-panel-list-wrap slide-wrapper" id="wiki-slider">
		<div class="slider-controls">
    		<a href="javascript:void(0)" class="icon-caret-left slider-nav-left disabled"></a>
    		<a href="javascript:void(0)" class="icon-caret-right slider-nav-right disabled"></a>	
		</div>
		<div class="sub-panel-list sub-wiki-list slider-contents">

			<div class="slider-inner-contents" id="slider-inner-wiki">
				{{#if topicAssetsWikis}}
				{{#each wiki in topicAssetsWikis}}
					<div class="knowledge-asset-item" id="knowledge-asset-wiki">
	    				<div class="knowledge-item-inner">
	    					<div class="asset-summary clearfix">
	    						<a class="asset-title" href="#/wiki/{{unbound wiki.assetURL}}"><h5>{{wiki.assetTitle}}</h5></a>
	    						<p class="asset-decription">{{wiki.authorName}}</p>
	    					</div>
	    					<ul class="asset-info">
	    						<li class="asset-date">
	    							<i class="icon-clock"></i>
	    							<span class="asset-date time">{{wiki.creationDate}}</span>
	    						</li>
	    						
	    						<li class="asset-interaction-info enabled">
					        		<ul>
					        			<li>
					        				{{#if wiki.likesNo}}
						        				<a class="icon-thumbs-up asset-like" href="javascript:void(0)"> 
						        				<span class="like-counter">{{wiki.likesNo}}</span></a>
						        			{{else}}
						        				<a class="icon-thumbs-up asset-like" href="javascript:void(0)"> 
						        				<span class="like-counter">0</span></a>
						        			{{/if}}
					        			</li>
					        			<li>
					        				{{#if wiki.sharedNo}}
						        				<a class="asset-comment icon-arrow-share" href="javascript:void(0)">
						        				<span class="share-counter">{{wiki.sharedNo}}</span></a>
						        			{{else}}
						        				<a class="asset-comment icon-arrow-share" href="javascript:void(0)">
						        				<span class="share-counter">0</span></a>
						        			{{/if}}
					        			</li>
					        			<li>
					        				{{#if wiki.favoredNo}}
						        				<a class="icon-star asset-favorite" href="javascript:void(0)">
						        				<span class="favorite-counter">{{wiki.favoredNo}}</span></a>
						        			{{else}}
						        				<a class="icon-star asset-favorite" href="javascript:void(0)">
					        					<span class="favorite-counter">0</span></a>
					        				{{/if}}
					        			</li>
					        		</ul>
	    						</li>
	    					</ul>
	    				</div>
	    			</div>
	    		{{/each}}
	    		{{else}}
	    			<div class="missing-data-message">
                       <p class="error-message"><em>No Wikis to display</em></p>
					</div>
				{{/if}}
    			
    		</div>

		</div>

	</div>
</div>